/* font */

.raleway-font {
  font-family: "Raleway", sans-serif;
}
* {
  margin: 0;
}
.main-part {
  width: 1140px;
  margin: 0 auto;
}
/* shared-style */
.btn {
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 20px 40px;
}
.btn:hover {
  background-color: #1e17e4;
  cursor: pointer;
}

.section-title {
  color: #252432;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
span {
  color: #130bf1;
}
/* shared-style */
/* nav-css-start */
.nav-build {
  display: flex;
  justify-content: space-between;
}
.nav-build .logo-item {
  color: #4e47ff;
  font-weight: 900;
  font-size: 30px;
}
nav .nav-build li {
  list-style-type: none;
}
.nav-section nav {
  padding: 20px;
}
.nav-section {
  width: 100%;
  height: 698px;
  background-image: url("../Assets/Hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-des {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
.banner-des h2 {
  color: #252432;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
/* nav-css-end */

/* main-css */

.main-part section {
  margin: 116px 0;
}
/* Action-css-start */
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#action-title {
  color: #252432;
  font-size: 40px;
  font-weight: 700;
}
.action-para {
  color: #25243280;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
.action img {
  border-radius: 30px;
  width: 40%;
}
/* Action-css-end */
/* productive-css-start */
.productive-user-desc {
  border-radius: 24px;
  padding: 50px 30px;
  background: #4e47ff1a;
}
.user-rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 20px 30px;
}
.user-rate h1 {
  color: #4e47ff;
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
}
.user-rate p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
/* productive-css-end */
/* card-review-start */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
  border-radius: 10px;
}

.img-reviewer {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
.card {
  width: 33%;
  background-color: red;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(242, 237, 237);
  border-radius: 14px;

  background: #f2eded;
}
.icon .fa-star {
  color: orange;
}
/* card-review-end */
.focus-p {
  margin: 30px;
  text-align: center;
}

.focus-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.focus-pic {
  border-radius: 10px;
  margin-top: 20px;
}
/* form-css-start */
form {
  width: 50%;
}
.form-title {
  font-size: 80px;
  font-weight: 700;
  text-align: left;
}
form input[type="text"],
textarea {
  height: 20px;
  padding: 20px 30px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid rgb(214, 221, 237);
}
form label {
  display: block;
}
.form-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
#submit-btn {
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 100px;
  width: 100%;
  margin-top: 10px;
}
#submit-btn:hover {
  background-color: #1e17e4;
  cursor: pointer;
}
/* form-css-end */
/* footer-css-start */
.footer-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title {
  color: #4e47ff;
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 7px;
}
.footer-link {
  margin: 20px;
}

.footer-link ul {
  display: flex;
  gap: 50px;
}
.footer-link ul li {
  list-style: none;
}

.footer-link ul li a {
  color: #8987a1;
  text-decoration: none;
}
.footer-link ul li a:hover {
  color: #1e17e4;
}
/* footer-css-end */
